services:
  web-app:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      - DOCKER=1
    env_file:
      - ./src/.docker.env
    volumes:
      - ./src:/src
    command: >
      sh -c "python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db

  redis:
    image: redis:alpine
  celery:
    restart: always
    build:
      context: .
    command: celery -A core worker -l info
    volumes:
      - ./src:/src
    env_file:
      - ./src/.de.env
    depends_on:
      - redis
      - web-app
      - db
  
  db:
    image: postgres:15-alpine
    volumes:
      - /postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=momspops_db
