asgiref==3.7.2
celery==5.3.1
channels==4.0.0
channels_redis==4.1.0
daphne==4.0.0
Django==4.2.2
django-redis==5.3.0
daphne==4.0.0
channels==4.0.0
channels_redis==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-filter==23.2
drf-yasg==1.21.5
flake8==6.0.0
googlemaps==4.10.0
mypy==1.4.0
numpy==1.25.0
Pillow==9.5.0
psycopg2-binary==2.9.6
python-dotenv==1.0.0
redis==4.6.0
rich==13.4.2
vk==3.0
websockets==11.0.3
