name: Django CI

on:
  push:
    branches: ["main", "development", "dev_michael7nightingale"]
  pull_request:
    branches: ["main", "development"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10", 3.11]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          ignore: "F401"
          max-line-length: "120"
          path: "."
      - name: mypy
        uses: konciergeMD/github-action-mypy@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MYPY_OPTS: "--config=./mypy.ini"  # additional mypy options
          #MYPY_CODE_DIR: "."  # what directory to check, defaults to "."
          #PRECOMMAND_MESSAGE: You have style errors. See them below.
      - name: Run Tests
        run: |
          cd src
          python manage.py makemigrations
          python manage.py migrate
          python manage.py test
